@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');


.header {
    width: 100%;
    background-color: #fffcf9;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
  }
  
.top-left-name {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    margin-left: 50px;
}

.navlinks {
    display: flex;
    margin-right: 100px;
}

.nav-link {
    font-size: 1rem;
    font-family: 'Menlo', sans-serif;
    margin: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

/* .active-link {
    text-decoration: none;
    color: black;
    background-color: black;
} */

.navbar {
    width: 100vw;
    height: calc(var(--header-height) + 1.3rem); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}
  
.nav-link:hover {
    /* text-decoration: underline; */
    color: #70A068;
    /* text-decoration-color: #70A068; */
    /* color: #845746;
    transform: scale(1.04); */
}

.navlinks a {
    font-size: 1rem;
    font-family: 'Menlo', sans-serif;
    margin: 20px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.navlinks a:hover {
    color: #70A068;
}

.active-link {
    text-decoration: underline !important;
    text-decoration-color: #70A068 !important;
    /* background-color: grey; */
} 

.star-icon {
    padding-top: 20px;
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

@media (max-width: 768px) {
    .top-left-name {
        font-size: 10px;
        margin-left: 25px;
    }
    .nav-link {
        margin: 5px;
    }
    .navbar {
        margin: 5px;
    }
  }
  